<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile</th>
        <th scope="col">Date of joining</th>
        <th scope="col">Doctor name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of patient">
        
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.dateOfAppointment}}</td>
        <td>{{i.doctorName}}</td>
       
      </tr>
      
    </tbody>
  </table>
